:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  width: 100%;
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.content {
  margin: 30px 70px;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

.title {
  font-size: 70px;
  line-height: 105px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
.h2, h2 {
   font-size: 60px;
}
p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 10px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
}
#contact {
  margin-top: 30px;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
#card1, #card2, #card3 {
  border: none;
  margin-bottom: 35px;
}
.card-title {
  text-align: left;
  font-size: 44px;
}
.card-text {
  background-color: #fff;
  text-align: left;
  padding: 15px 0;
}
.btn {
  background-color: #6c63ff;
}
.revers {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 1000px) {
  .content {
    margin: 20px 30px;
  }
}
@media (max-width: 590px) {
  .title {
    font-size: 50px;
    line-height: 80px;
  }
  .about-paragraphs p {
    margin: 0;
  }
  .card-title {
    font-size: 34px;
  }
}